.top-header{
    display: flex;
    width: 1129px;
    justify-content: space-between;
    align-items: center;
    
}
.search-bar{
    width: 655px;
    height: 52px;
    flex-shrink: 0;
    align-items: center;
    border:1px solid red;
}